@charset "utf-8";

body {
  background: rgb(204, 166, 113);
}

.container {
  margin: 0 auto;
  max-width: 960px;
}

.todo-block {
  padding: 30px;
  margin-top: 50px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: -9px 17px 13px rgb(0 0 0 / 16%);
}

.item-title {
  color: #000;
}
